<?xml version="1.0" encoding="UTF-8"?>
<!--

      Licensed to the Apache Software Foundation (ASF) under one or more
      contributor license agreements.  See the NOTICE file distributed with
      this work for additional information regarding copyright ownership.
      The ASF licenses this file to you under the Apache License, Version 2.0
      (the "License"); you may not use this file except in compliance with
      the License.  You may obtain a copy of the License at

          http://www.apache.org/licenses/LICENSE-2.0

      Unless required by applicable law or agreed to in writing, software
      distributed under the License is distributed on an "AS IS" BASIS,
      WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
      See the License for the specific language governing permissions and
      limitations under the License.

-->
<web-app id="WebApp_ID" version="2.4"
 xmlns="http://java.sun.com/xml/ns/j2ee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
 <display-name>JBR</display-name>
 <context-param>
  <param-name>contextConfigLocation</param-name>
  <param-value>/WEB-INF/context/applicationContext.xml,/WEB-INF/context/searchPageApplicationContext.xml, /WEB-INF/context/cmsApplicationContext.xml, /WEB-INF/context/viewTemplatesApplicationContext.xml,
   /WEB-INF/context/portlet/cmsCardForms.xml, /WEB-INF/context/workstationSearchPage.xml,/WEB-INF/context/searchPageInitializers.xml</param-value>
 </context-param>
	<filter>
		<filter-name>localizationFilter</filter-name>
		<filter-class>com.aplana.dbmi.filter.LocalizationFilter</filter-class>
	</filter>
	<filter>
 		<display-name>CookieAgeFilter</display-name>
 		<filter-name>CookieAgeFilter</filter-name>
 		<filter-class>com.aplana.dbmi.http.CookieAgeModifier</filter-class>
 	</filter>
 	<filter>
 		<display-name>WeakETagFilter</display-name>
 		<filter-name>WeakETagFilter</filter-name>
 		<filter-class>com.aplana.dbmi.http.WeakETagModifier</filter-class>
 	</filter>
 	<filter-mapping>
 		<filter-name>CookieAgeFilter</filter-name>
 		<url-pattern>/*</url-pattern>
 	</filter-mapping>
 	<filter-mapping>
 		<filter-name>WeakETagFilter</filter-name>
 		<url-pattern>/calendar/*</url-pattern>
 	</filter-mapping>
 	<filter-mapping>
 		<filter-name>WeakETagFilter</filter-name>
 		<url-pattern>/images/*</url-pattern>
 	</filter-mapping>
 	<filter-mapping>
 		<filter-name>WeakETagFilter</filter-name>
 		<url-pattern>/js/*</url-pattern>
 	</filter-mapping>
 	<filter-mapping>
 		<filter-name>WeakETagFilter</filter-name>
 		<url-pattern>/print/*</url-pattern>
 	</filter-mapping>
 	<filter-mapping>
 		<filter-name>WeakETagFilter</filter-name>
 		<url-pattern>/tiny_mce/*</url-pattern>
 	</filter-mapping>
 	<filter-mapping>
 		<filter-name>WeakETagFilter</filter-name>
 		<url-pattern>*.css</url-pattern>
 	</filter-mapping>
 	<filter-mapping>
 		<filter-name>WeakETagFilter</filter-name>
 		<url-pattern>*.js</url-pattern>
 	</filter-mapping>
 	<filter-mapping>
 		<filter-name>WeakETagFilter</filter-name>
 		<url-pattern>*.jsp</url-pattern>
 	</filter-mapping>	 	
 <filter-mapping>
  <filter-name>localizationFilter</filter-name>
  <url-pattern>/servlet/*</url-pattern>
 </filter-mapping>
 <listener>
  <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
 </listener>
 <servlet>
  <servlet-name>CardHistoryServlet</servlet-name>
  <servlet-class>com.aplana.dbmi.ajax.CardHistoryServlet</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>ViewRendererServlet</servlet-name>
  <servlet-class>org.springframework.web.servlet.ViewRendererServlet</servlet-class>
  <load-on-startup>1</load-on-startup>
 </servlet>
 <servlet>
  <display-name>MaterialDownloadServlet</display-name>
  <servlet-name>MaterialDownloadServlet</servlet-name>
  <servlet-class>com.aplana.dbmi.card.MaterialDownloadServlet</servlet-class>
 </servlet>
 <servlet>
  <display-name>MaterialSearchDownloadServlet</display-name>
  <servlet-name>MaterialSearchDownloadServlet</servlet-name>
  <servlet-class>com.aplana.dbmi.card.MaterialSearchDownloadServlet</servlet-class>
 </servlet>
 <servlet>
  <display-name>SecureTokenVerifierServlet</display-name>
  <servlet-name>SecureTokenVerifierServlet</servlet-name>
  <servlet-class>com.aplana.owriter.token.SecureTokenVerifierServlet</servlet-class>
 </servlet>
  <servlet>
  <display-name>PdfMergeServlet</display-name>
  <servlet-name>PdfMergeServlet</servlet-name>
  <servlet-class>com.aplana.dbmi.card.PdfMergeServlet</servlet-class>
 </servlet>
 <servlet>
  <display-name>ShowMaterialServlet</display-name>
  <servlet-name>ShowMaterialServlet</servlet-name>
  <servlet-class>com.aplana.dbmi.card.ShowMaterialServlet</servlet-class>
 </servlet>
 <servlet>
  <display-name>ExportToExcelServlet</display-name>
  <servlet-name>ExportToExcelServlet</servlet-name>
  <servlet-class>com.aplana.dbmi.showlist.ExportToExcelServlet</servlet-class>
 </servlet>
 <servlet>
  <display-name>ExportToCsvServlet</display-name>
  <servlet-name>ExportToCsvServlet</servlet-name>
  <servlet-class>com.aplana.dbmi.card.ExportToCsvServlet</servlet-class>
 </servlet>
 <servlet>
  <display-name>CardExportToExcelServlet</display-name>
  <servlet-name>CardExportToExcelServlet</servlet-name>
  <servlet-class>com.aplana.dbmi.card.CardExportToExcelServlet</servlet-class>
 </servlet>
 <servlet>
  <display-name>ParentReportServlet</display-name>
  <servlet-name>ParentReportServlet</servlet-name>
  <servlet-class>com.aplana.cms.ParentReportServlet</servlet-class>  
 </servlet>
 <servlet>
  <display-name>ContentServlet</display-name>
  <servlet-name>ContentServlet</servlet-name>
  <servlet-class>com.aplana.cms.ContentServlet</servlet-class>
 </servlet>
 <servlet>
  <display-name>BossRedirectServlet</display-name>
  <servlet-name>BossRedirectServlet</servlet-name>
  <servlet-class>com.aplana.cms.BossRedirectServlet</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>CardDSInfoViewerServlet</servlet-name>
  <servlet-class>com.aplana.dbmi.card.CardDSInfoViewerServlet</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>ShowAllAttachmentsServlet</servlet-name>
  <servlet-class>com.aplana.dbmi.ajax.ShowAllAttachmentsServlet</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>CardDSParamsServlet</servlet-name>
  <servlet-class>com.aplana.dbmi.ajax.CardDSParamsServlet</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>scanner-upload-servlet</servlet-name>
  <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
  <init-param>
   <param-name>contextConfigLocation</param-name>
   <param-value>/WEB-INF/context/servlet/scanner-upload-servlet.xml</param-value>
  </init-param>
 </servlet>
 <servlet>
  <servlet-name>arm-upload-servlet</servlet-name>
  <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
  <init-param>
   <param-name>contextConfigLocation</param-name>
   <param-value>/WEB-INF/context/servlet/arm-upload-servlet.xml</param-value>
  </init-param>
 </servlet>
 <servlet>
  <servlet-name>TreeServlet</servlet-name>
  <servlet-class>com.aplana.dbmi.ajax.TreeServlet</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>CardHierarchyServlet</servlet-name>
  <servlet-class>com.aplana.dbmi.ajax.CardHierarchyServlet</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>CardHierarchyCachingServlet</servlet-name>
  <servlet-class>com.aplana.dbmi.ajax.cache.CardHierarchyCachingServlet</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>SearchCardServlet</servlet-name>
  <servlet-class>com.aplana.dbmi.ajax.SearchCardServlet</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>UserRolesAndGroupsFilterServlet</servlet-name>
  <servlet-class>com.aplana.dbmi.ajax.UserRolesAndGroupsFilterServlet</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>QuickResolutionServlet</servlet-name>
  <servlet-class>com.aplana.dbmi.ajax.QuickResolutionServlet</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>JasperReportServlet</servlet-name>
  <servlet-class>com.aplana.dbmi.ajax.JasperReportServlet</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>FileCardServlet</servlet-name>
  <servlet-class>com.aplana.dbmi.card.download.FileCardServlet</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>GetSimmKeyServlet</servlet-name>
  <servlet-class>com.aplana.dbmi.crypto.GetSimmKeyServlet</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>DownloadCardsServlet</servlet-name>
  <servlet-class>com.aplana.dbmi.card.download.DownloadCardsServlet</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>DelegateServlet</servlet-name>
  <servlet-class>com.aplana.dbmi.ajax.DelegateServlet</servlet-class>
 </servlet>
 <servlet>
  <display-name>BarCodeServlet</display-name>
  <servlet-name>BarCodeServlet</servlet-name>
  <servlet-class>com.aplana.dbmi.ajax.BarCodeServlet</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>UnlockCardServlet</servlet-name>
  <servlet-class>com.aplana.dbmi.ajax.UnlockCardServlet</servlet-class>
 </servlet>
  <servlet>
  <servlet-name>MiniLogServlet</servlet-name>
  <servlet-class>com.aplana.dbmi.ajax.MiniLogServlet</servlet-class>
 </servlet>
  <servlet>
  <servlet-name>GroupExecutionCardServlet</servlet-name>
  <servlet-class>com.aplana.dbmi.ajax.GroupExecutionCardServlet</servlet-class>
 </servlet>
   <servlet>
  <servlet-name>GroupResolutionCardServlet</servlet-name>
  <servlet-class>com.aplana.dbmi.ajax.GroupResolutionCardServlet</servlet-class>
 </servlet>
   <servlet>
   	<description>
   	</description>
   	<display-name>ManualStampServlet</display-name>
   	<servlet-name>ManualStampServlet</servlet-name>
   	<servlet-class>com.aplana.dbmi.ajax.ManualStampServlet</servlet-class>
   </servlet>
 <servlet-mapping>
  <servlet-name>CardHistoryServlet</servlet-name>
  <url-pattern>/CardHistoryServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>ViewRendererServlet</servlet-name>
  <url-pattern>/WEB-INF/servlet/view</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>DelegateServlet</servlet-name>
  <url-pattern>/servlet/DelegateServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>MaterialDownloadServlet</servlet-name>
  <url-pattern>/MaterialDownloadServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>MaterialSearchDownloadServlet</servlet-name>
  <url-pattern>/MaterialSearchDownloadServlet</url-pattern>
 </servlet-mapping>
  <servlet-mapping>
  <servlet-name>SecureTokenVerifierServlet</servlet-name>
  <url-pattern>/SecureTokenVerifierServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>PdfMergeServlet</servlet-name>
  <url-pattern>/PdfMergeServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>ShowMaterialServlet</servlet-name>
  <url-pattern>/ShowMaterialServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>ExportToExcelServlet</servlet-name>
  <url-pattern>/mishowlistportlet/exporttoexcel</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>ExportToCsvServlet</servlet-name>
  <url-pattern>/ExportToCsvServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>CardExportToExcelServlet</servlet-name>
  <url-pattern>/cardportlet/exporttoexcel</url-pattern>
 </servlet-mapping> 
 <servlet-mapping>
  <servlet-name>ParentReportServlet</servlet-name>
  <url-pattern>/parentReport</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>ContentServlet</servlet-name>
  <url-pattern>/content</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>BossRedirectServlet</servlet-name>
  <url-pattern>/boss</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>TreeServlet</servlet-name>
  <url-pattern>/servlet/TreeServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>CardHierarchyServlet</servlet-name>
  <url-pattern>/servlet/CardHierarchyServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>CardHierarchyCachingServlet</servlet-name>
  <url-pattern>/servlet/CardHierarchyCachingServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>SearchCardServlet</servlet-name>
  <url-pattern>/servlet/SearchCardServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>UserRolesAndGroupsFilterServlet</servlet-name>
  <url-pattern>/servlet/UserRolesAndGroupsFilterServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>scanner-upload-servlet</servlet-name>
  <url-pattern>/servlet/scanner-upload</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>arm-upload-servlet</servlet-name>
  <url-pattern>/servlet/arm-upload</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>QuickResolutionServlet</servlet-name>
  <url-pattern>/servlet/QuickResolutionServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>JasperReportServlet</servlet-name>
  <url-pattern>/servlet/JasperReportServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>BarCodeServlet</servlet-name>
  <url-pattern>/BarCodeServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>GetSimmKeyServlet</servlet-name>
  <url-pattern>/GetSimmKeyServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>CardDSInfoViewerServlet</servlet-name>
  <url-pattern>/CardDSInfoViewer</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>CardDSParamsServlet</servlet-name>
  <url-pattern>/CardDSParams</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>ShowAllAttachmentsServlet</servlet-name>
  <url-pattern>/ShowAllAttachments</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>FileCardServlet</servlet-name>
  <url-pattern>/FileCardServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>DownloadCardsServlet</servlet-name>
  <url-pattern>/DownloadCardsServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>UnlockCardServlet</servlet-name>
  <url-pattern>/UnlockCard</url-pattern>
 </servlet-mapping>
  <servlet-mapping>
 <servlet-name>MiniLogServlet</servlet-name>
  <url-pattern>/minilog/*</url-pattern>
 </servlet-mapping>
<servlet-mapping>
 <servlet-name>GroupExecutionCardServlet</servlet-name>
  <url-pattern>/GroupExecutionCardServlet</url-pattern>
 </servlet-mapping>
<servlet-mapping>
 <servlet-name>GroupResolutionCardServlet</servlet-name>
  <url-pattern>/GroupResolutionCardServlet</url-pattern>
 </servlet-mapping>
<servlet-mapping>
	<servlet-name>ManualStampServlet</servlet-name>
	<url-pattern>/ManualStampServlet</url-pattern>
</servlet-mapping>
 <jsp-config>
  <taglib>
   <taglib-uri>http://java.sun.com/jsp/jstl/core</taglib-uri>
   <taglib-location>/WEB-INF/tld/c.tld</taglib-location>
  </taglib>
  <taglib>
   <taglib-uri>http://java.sun.com/jsp/jstl/fmt</taglib-uri>
   <taglib-location>/WEB-INF/tld/fmt.tld</taglib-location>
  </taglib>
  <taglib>
   <taglib-uri>http://java.sun.com/jsp/jstl/functions</taglib-uri>
   <taglib-location>/WEB-INF/tld/fn.tld</taglib-location>
  </taglib>
  <taglib>
   <taglib-uri>http://www.springframework.org/tags</taglib-uri>
   <taglib-location>/WEB-INF/tld/spring.tld</taglib-location>
  </taglib>
  <taglib>
   <taglib-uri>http://www.springframework.org/tags/form</taglib-uri>
   <taglib-location>/WEB-INF/tld/spring-form.tld</taglib-location>
  </taglib>
  <taglib>
   <taglib-uri>http://displaytag.sourceforge.net/</taglib-uri>
   <taglib-location>/WEB-INF/tld/displaytag.tld</taglib-location>
  </taglib>
 </jsp-config>
 <!-- JBossPortal authentication config for supporting servlets-->
 <security-constraint>
  <web-resource-collection>
   <web-resource-name>MaterialDownloadServlet</web-resource-name>
   <url-pattern>/MaterialDownloadServlet</url-pattern>
  </web-resource-collection>
  <auth-constraint>
   <role-name>Authenticated</role-name>
  </auth-constraint>
 </security-constraint>
 <security-constraint>
  <web-resource-collection>
   <web-resource-name>MaterialSearchDownloadServlet</web-resource-name>
   <url-pattern>/MaterialSearchDownloadServlet</url-pattern>
  </web-resource-collection>
  <auth-constraint>
   <role-name>Authenticated</role-name>
  </auth-constraint>
 </security-constraint>
  <security-constraint>
  <web-resource-collection>
   <web-resource-name>ExportToCsvServlet</web-resource-name>
   <url-pattern>/ExportToCsvServlet</url-pattern>
  </web-resource-collection>
  <auth-constraint>
   <role-name>Authenticated</role-name>
  </auth-constraint>
 </security-constraint>
  <security-constraint>
  <web-resource-collection>
   <web-resource-name>PdfMergeServlet</web-resource-name>
   <url-pattern>/PdfMergeServlet</url-pattern>
  </web-resource-collection>
  <auth-constraint>
   <role-name>Authenticated</role-name>
  </auth-constraint>
 </security-constraint>
 <security-constraint>
  <web-resource-collection>
   <web-resource-name>AttachmentViewerServlet</web-resource-name>
   <url-pattern>/AttachmentViewerServlet</url-pattern>
  </web-resource-collection>
  <auth-constraint>
   <role-name>Authenticated</role-name>
  </auth-constraint>
 </security-constraint>
 <security-constraint>
  <web-resource-collection>
   <web-resource-name>SupportingServlets</web-resource-name>
   <url-pattern>/servlet/*</url-pattern>
  </web-resource-collection>
  <auth-constraint>
   <role-name>Authenticated</role-name>
  </auth-constraint>
 </security-constraint>
 <login-config>
  <auth-method>BASIC</auth-method>
  <realm-name>DBMI Portal</realm-name>
 </login-config>
 <security-role>
  <role-name>Authenticated</role-name>
 </security-role>
 <!-- End of JBossPortal authentication config for supporting servlets-->
</web-app>
