/**
 *   Licensed to the Apache Software Foundation (ASF) under one or more
 *   contributor license agreements.  See the NOTICE file distributed with
 *   this work for additional information regarding copyright ownership.
 *   The ASF licenses this file to you under the Apache License, Version 2.0
 *   (the "License"); you may not use this file except in compliance with
 *   the License.  You may obtain a copy of the License at
 *
 *       http://www.apache.org/licenses/LICENSE-2.0
 *
 *   Unless required by applicable law or agreed to in writing, software
 *   distributed under the License is distributed on an "AS IS" BASIS,
 *   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *   See the License for the specific language governing permissions and
 *   limitations under the License.
 */
#body {
	font: 11px Tahoma,Verdana,Arial,sans-serif;
	height: 100%;
	margin:  0px;
	padding:  0px;
	border: none;
	background-image: url(images/header/bg_body.gif );
	background-repeat: repeat-x;
	background-color: #426096;
}

#logo {
	width:360px;
	height:104px;
	background:transparent url(images/header/logo.gif) no-repeat right;
	display:block;
	float: left;
	z-index: 2;
}

/****************************
* Navigation elements styles
****************************/
span.horizontalMenuDelimiter {
	padding-left: 10px;
	padding-right: 10px;
	background: url(images/navigation/horizontalMenuDelimiter.gif) repeat-y center;
}

span.currentPathEntry a {
	text-decoration: none;		
}

span.currentPathDelimiter {
	padding-left: 5px;
	padding-right: 5px;
	width: 10px;
	background: url(images/navigation/currentPathDelimiter.gif) no-repeat center;		
}


/****************************
* Portlet Container Windows *
*****************************/
.portlet-container {
	padding: 10px;
}

.portlet-titlebar-left {
	display: none;
}

.portlet-titlebar-center {
	display: none;
}

.portlet-titlebar-right {
	display: none;
}

.portlet-content-left {
	display: none;
}

.portlet-content-center {
	vertical-align: top;
	padding: 0;
	margin: 0;
}

.portlet-body {	
	margin: 5px;
	background-image:none;
}

.portlet-content-right {
	display: none;
}

.portlet-footer-left {
	display: none;
}

.portlet-footer-center {
	display: none;
}

.portlet-footer-right {
	display: none;
}