#
#   Licensed to the Apache Software Foundation (ASF) under one or more
#   contributor license agreements.  See the NOTICE file distributed with
#   this work for additional information regarding copyright ownership.
#   The ASF licenses this file to you under the Apache License, Version 2.0
#   (the "License"); you may not use this file except in compliance with
#   the License.  You may obtain a copy of the License at
#
#       http://www.apache.org/licenses/LICENSE-2.0
#
#   Unless required by applicable law or agreed to in writing, software
#   distributed under the License is distributed on an "AS IS" BASIS,
#   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#   See the License for the specific language governing permissions and
#   limitations under the License.
#

#Конфигурационный файл для задачи сбора статистики по объему документов

#Таймаут времени запроса к серверу с которого запрашивается статистика,
#по истечении которого попытка сбора статистики с запрашиваемого сервера будет прекращена и запрос перейдет к следующему по списку серверу.
#В миллисекундах (по умолчанию 5 мин - 300000 мс)
#если указан 0 - используется значение по умолчанию
#timeout=300000

#Критерий по которому документы попадут в статистику - Интервал дат создания документов
#отсчет начальной и конечной точки интервала идет от даты начала сбора статистики (количество дней с момента запуска задачи по сбору статистики)
#допустимы только целые числа в диапазоне от -2147483648 до 2147483647,
# а так же ключевые слова: YEAR - число дней с начала года, MONTH - число дней с начала месяца
#начальная точка интервала
startInterval=YEAR
#конечная точка интервала
endInterval=0


#Имя пользователя и пароль для аутентификации WS-клиента
#Портальный пользователь с ролью JBR_WS_CLIENT
#Создание/редактирование пользователя осуществляется через Администрирование портала, во вкладке Members
username=goststatwsclient
password=XXXXXXX

#Список серверов, с которых собирается статистика
#При добавлении нового сервера необходимо использовать следующий формат 'server<N>=<protocol>://<server ip или FQDN>:<jboss port>'
#где N номер сервера (не должны повторяться), 
#protocol - используемый в системе протокол, 
#server ip или FQDN ip - адрес или имя сервера соответственно,
#jboss port - порт JBOSS севера.
#В случае необходимости сбора статистики с текущего сервера
server1=http://localhost:8080