/**
 *   Licensed to the Apache Software Foundation (ASF) under one or more
 *   contributor license agreements.  See the NOTICE file distributed with
 *   this work for additional information regarding copyright ownership.
 *   The ASF licenses this file to you under the Apache License, Version 2.0
 *   (the "License"); you may not use this file except in compliance with
 *   the License.  You may obtain a copy of the License at
 *
 *       http://www.apache.org/licenses/LICENSE-2.0
 *
 *   Unless required by applicable law or agreed to in writing, software
 *   distributed under the License is distributed on an "AS IS" BASIS,
 *   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *   See the License for the specific language governing permissions and
 *   limitations under the License.
 */
.notifier {
	position: fixed;
	padding:10px;
	bottom: 0px;
	right: 0px;
	height: 0px;
	display: block;
}

.expandPanel {
	position: fixed;
	padding:10px;
	right: 224px;
	height: 0px;
	display: none;
	border: 1px solid #6B9AFF;
	overflow-y: scroll;
	background-color: white;
}

.notifier .notifHeader{
	text-align:left;
	width: 172px;
	padding: 5px 10px 5px 10px;
	margin: 5px;
	margin-bottom: 0px;
	background-color: #E2EBFC;
	cursor: default;
	border: 1px solid #6B9AFF;
	border-bottom:0px;
	font-size: 13px;

}

.notifier .message {
	text-align:left;
	width: 172px;
	padding: 5px 10px 5px 10px;
	margin: 5px;
	margin-top: 0px;
	cursor: text;
	background-color: #F4F6FC;
	border: 1px solid #6B9AFF;
	border-top:0px;
	word-wrap: break-word;
}

.notifier .message .counter{
	color: red;
}

.notifier .messageWrap {
	display: table;
	vertical-align: bottom;
	position: relative;
}

.notifier .messageWrap .hover{
	display: table;
	vertical-align: bottom;
	position: relative;
}

.notifier .closeButton{
	background: url('images/tabClose.png') no-repeat scroll right top transparent;
	height: 12px;
	width: 12px;
	display:inline-block;
	right: 12px;
	position: absolute;
	cursor: pointer;
	top: 12px;
}

.expandPanel .closeButton{
	background: url('images/tabClose.png') no-repeat scroll right top transparent;
	height: 12px;
	width: 12px;
	display:inline-block;
	right: 3px;
	position: absolute;
	cursor: pointer;
	top: 3px;
}

.closeButton:hover{
	background: url('images/tabCloseHover.png') no-repeat scroll right top transparent;
}

.expandButton{
	background: url('images/tabExpand.png') no-repeat scroll right top transparent;
	height: 12px;
	width: 12px;
	display:inline-block;
	right: 28px;
	position: absolute;
	cursor: pointer;
	top: 12px;
}

.expandButton:hover{
	background: url('images/tabExpandHover.png') no-repeat scroll right top transparent;
}

.exmess{
	width: 344px;
	text-align:left;
	padding: 5px 10px 5px 10px;
	background-color: #F4F6FC;
	box-shadow: inset 0px 0px 0px 2px rgba(255, 255, 255, 1);
	position: relative;
}


