/**
 *   Licensed to the Apache Software Foundation (ASF) under one or more
 *   contributor license agreements.  See the NOTICE file distributed with
 *   this work for additional information regarding copyright ownership.
 *   The ASF licenses this file to you under the Apache License, Version 2.0
 *   (the "License"); you may not use this file except in compliance with
 *   the License.  You may obtain a copy of the License at
 *
 *       http://www.apache.org/licenses/LICENSE-2.0
 *
 *   Unless required by applicable law or agreed to in writing, software
 *   distributed under the License is distributed on an "AS IS" BASIS,
 *   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *   See the License for the specific language governing permissions and
 *   limitations under the License.
 */
table[data-sortable] {
  border-collapse: collapse;
  border-style: hidden;
}
table[data-sortable] th {
  vertical-align: bottom;
  font-weight: bold;
  border: 1px solid #E3E7EB;
  border-bottom: 2px solid #A1B0BC;
}
table[data-sortable] th, table[data-sortable] td {
  text-align: left;
  padding: 10px;
}
table[data-sortable] th:not([data-sortable="false"]) {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  cursor: pointer;
}
table[data-sortable] th:after {
  content: "";
  visibility: hidden;
  display: inline-block;
  vertical-align: inherit;
  height: 0;
  width: 0;
  border-width: 5px;
  border-style: solid;
  border-color: transparent;
  margin-right: 1px;
  margin-left: 10px;
  float: right;
}
table[data-sortable] th[data-sorted="true"]:after {
  visibility: visible;
}
table[data-sortable] th[data-sorted-direction="descending"]:after {
  border-top-color: black;
  margin-top: 3px;
}
table[data-sortable] th[data-sorted-direction="ascending"]:after {
  border-bottom-color: black;
  margin-top: 3px;
}

table[data-sortable].sortable-theme-view {
}

table[data-sortable].sortable-theme-view tbody td {
  border: 1px solid #E3E7EB;
  font-weight: normal !important;
}

table[data-sortable].sortable-theme-view th[data-sorted="true"] {
}
