<?xml version="1.0" encoding="UTF-8"?>
<!--

      Licensed to the Apache Software Foundation (ASF) under one or more
      contributor license agreements.  See the NOTICE file distributed with
      this work for additional information regarding copyright ownership.
      The ASF licenses this file to you under the Apache License, Version 2.0
      (the "License"); you may not use this file except in compliance with
      the License.  You may obtain a copy of the License at

          http://www.apache.org/licenses/LICENSE-2.0

      Unless required by applicable law or agreed to in writing, software
      distributed under the License is distributed on an "AS IS" BASIS,
      WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
      See the License for the specific language governing permissions and
      limitations under the License.

-->
<!-- Таблица маршрутизации в активном виде располагается в файле routeTable.xml -->
<!-- ВНИМАНИЕ! Настройки в этом файле составлены для демонстрации возможностей ТА, но не для применения в реальных системах ! -->

<route-table xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="routeTable.xsd">
	<transport-agent uuid="e1e97e80-f2af-11e1-a498-0002a5d5c51b" name="АйТи">
		<agents>
		<!-- В этом разделе перечисляются агенты, которые будут использованы при описании траспортных узлов (ТУ, теги <node>).
			Агенты - периодические задачи, выполняюшие фактическую доставку корреспонденции. Каждый агент может работать только 
			с опрелённым способом доставки, а именно: работа в файловой системе, работа с серверами электорнной почты и т.п.
			Доступные параметры агентов: 
				name - имя агента, фиксировано, менять нельзя.
				period - период работы в секундах.
				cron - выражение, задающее расписание работы агента. Альтернатива параметру period, имеющая перед ним приоритет.
					Порядок использрвания описан здесь: http://quartz-scheduler.org/documentation/quartz-2.2.x/tutorials/crontrigger.
				retries - максимальное кол-во попыток отправки письма данным агентом. После этого количества попыток агент попытается 
					перенести письмо в "корзину".
				config - файл с дополнительными настройками агента (например для smtp).
			В данном разделе определяются параметры агентов, действующие по всему этому конфигурационному файлу, т.е. умолчательные параметры.
			В определении каждого ТУ можно переопределить умолчательные параметры связанного с ним агента (кроме параметра name).
			Каждый агент может обслуживать несколько ТУ (быть связанным с ними). Если при определении ТУ параметры связанного с ним 
			агента не были переопределены (хотя бы один), то фактически используется тот экземпляр соответствующего агента, определённого в 
			этом разделе. В противном случае создаётся новый экземпляр агента, который наследует умолчательные параметры (кроме переопределённых).
			Отсюда следует, что одни экземпляр агента обслуживает все связанные с ним ТУ последовательно согласно своему расписанию работы. 
			Одновременно, разные экземпляры агентов работают параллельно (опять-таки согласно своим расписаниям).
		-->

			<!-- Агент Маршрутизатор. Осуществляет маршрутизацию писем в обслуживаемом ТУ Коллектор. Обязателен.-->
			<agent name="router" period="3"/>
			<!-- Агент, работающий с письмами в локальной файловой системе -->
			<agent name="fileMover" period="5" retries="3"/>
			<!-- Агент, работающий с электронной почтой -->
			<agent name="mailAgent" period="20" config="smtp.properties"/>
		</agents>
	</transport-agent>

	<nodes>
	<!-- Раздел, в котором содержится список ТУ. ТУ имеют параметры: тип, имя и порядковый номер.
		Имя - атрибут name, обязателен, значение должно быть уникальным внутри этого файла. 
		Тип - атрибут type, обязателен, значение одно из: входной ТУ (in) и выходной ТУ (out), определяет тип ТУ.
		Порядковый номер - атрибут order, необязателен, по умолчанию равен 0, неотрицательное число. Определяет порядковый номер 
		ТУ в группе назначения. См. описание Резервного маршрута доставки.
		Входные ТУ служат источниками писем, выходные - приёмниками. Отдельно отстоит ТУ Коллектор, который всегда имеет тип "in", см.
		описание Коллектор.
		Каждый ТУ обладает набором ресурсов, определяемых во вложенном элементе <resources>. С помощью ресурсов описывается физическое расположение 
		корреспонденции в ТУ. Более детальную информацию смотри раздел Ресурсы.
		Адрес назначения.
		Каждый ТУ выходного типа должен содержать одно или несколько назначений. В тоже время назначения для ТУ входного типа запрещены (и не имеют смысла).
		Назначение(ия), связанное с данным ТУ определяет маршрут письма, попавшего в Коллектор. Письмо будет направлено в тот ТУ, 
		чей адрес одного из его назначений совпадает с адресатом письма. Назначение определяется через вложенный элемент destination. 
		Адрес назначения задаётся через атрибут uuid. Значение этого атрибута должно точно соответствовать формату UUID 
		(https://en.wikipedia.org/wiki/Universally_unique_identifier) с одним исключением. Формат UUID должен соответствовать шаблону:
				xxxxxxxx-xxxx-Mxxx-Nxxx-xxxxxxxxxxxx
			где M - версия UUID, может быть 1, 2, 3, 4 или 5;
			N - вериант UUID, может быть 8, 9, A или B;
			x - любая шеснадцатеричная цифра от 0 до F.
			Символы могут быть как в верхнем так и нижнем регистре.
		Одним исключеним для определение адреса назначения является адрес назначения по умолчанию и имеет значение "default". Такой ТУ не обязателен,
		но если определён, то должен быть задан один раз.
		С каждым ТУ должен быть обязательно связан один агент, который его обслуживает. В тоже время один агент может обслуживать несколько ТУ 
		различных типов. Обслуживающий ТУ агент определяется с помощью вложенного элемента agent.

		Коллектор.
		Коллектор - специальный тип ТУ, является промежуточным внутренним ТУ транспортного агента. Все письма в обязательном порядке проходят 
		через Коллектор и таким образом становятся объектами маршрутизации. В рамках одной таблицы маршрутизации возможно определение нескольких
		Коллекторов, но одно определение обязательно - это Коллектор По Умолчанию (КПУ). КПУ определяется как отдельный ТУ с определённым именем, 
		а именно: "default collector". Другие Коллекторы могут быть определены, но не обязательны. 
		Коллектор определяется как ТУ входного типа и имеет один ресурс типа "collector". Ресурс Коллектора может быть только локальным, в локальной ФС, 
		т.е. начинается только с "file://".
		По логике работы ТА каждый ТУ должен быть связан с тем или иным Коллектом: корреспонденция из входных ТУ попадает в Коллектор, 
		отправка корреспонденции в выходные ТУ происходит из Коллектора. Коллектор связывается с ТУ при определении последнего: в списке ресурсов
		прописывается ресурс со специальным типом "collector" в атрибуте url которого указывается локальный путь к аналогичному ресурсу в описании Коллектора. 
		Если ресурс Коллектора не указан в списке ресурсов ТУ, то данный ТУ связанн с КПУ.
		Концепция нескольких Коллекторов в рамках одной таблицы маршрутизации аналогична концепции VLAN в рамках одного сетевого маршрутизатора.
		
		Ресурсы
		Каждый ТУ обладает набором ресурсов, определяемых во вложенном элементе <resources>. Ресурс - это логический раздел внутри ТУ.
		Тип ресурса определяется значением атрибута type элемента resource. Если тип ресурса не указан, то ресурс имеет тип "document".
		Определены следующие виды разделов ТУ:
			"документы" - значение "document" или когда тип ресурса не указан. Возможен во входных и выходных типов ТУ. 
				Входной тип ТУ: нет особого значения. Обязателен.
				Выходной тип ТУ: сюда попадают все письма кроме квитанций о доставке. Обязателен.
			"квитанции" - значение "ticket" Возможен во входных и выходных типов ТУ.
				Входной тип ТУ: нет особого значения, обрабатывается также как тип "документы". Необязателен.
				Выходной тип ТУ: cюда попадают квитанции о доставке. Необязателен. Если не указан, квитанции будут перемещены в "корзину" этого ТУ.
			"копии" - значение "copy" Возможен в выходных типов ТУ.
				Входной тип ТУ: нет особого значения. Запрещён.
				Выходной тип ТУ: cюда попадают копии всех успешно отправленных в данный ТУ писем. Необязателен. Если не указан, копии не создаются.
			"корзина" - значение "trash" Возможен в выходном типе ТУ.
				Входной тип ТУ: нет особого значения. Запрещён.
				Выходной тип ТУ: cюда попадают все письма, которые невозможно отправить в данный ТУ писем. Необязателен. 
					Если не указан, письма навсегда остаются в Коллекторе.
			"коллектор" - значение "collector". Возможен во входных и выходных типов ТУ.
				Входной тип ТУ: сюда попадают письма из обычных ТУ входного типа. Условно обязателен: должен быть определён 
					по крайней мере один раз в ТУ с именем "default collector". Фактически "превращает" ТУ в Коллектор.
				Выходной тип ТУ: нет особого значения. Необязателен.
		Физическое расположение ресурса задаётся с помощью атрибута url. Значение этого атрибута должно в точности соответствовать формату URL, 
		(https://ru.wikipedia.org/wiki/URL) определённому стандартом RFC 1738. Так, к примеру, указание на ресурс в файловой системе (ФС) должен 
		задаваться абсолютным способом (от корня ФС) и начинаться с префикса "file://".
		
		Резервный маршрут доставки.
		Группа назначения (ГН) - группа ТУ, состоящая из одного и более элементов, объединённых одинаковым адресом назначения. 
		Так как каждый ТУ может обладать несколькими назначениями, то ГН формируется динамически для каждого письма, 
		а точнее - для каждого адресата. Таким образом, через определение ГН и порядкового номера ТУ в этой группе отрабатывается 
		логика резервного пути доставки. Каждый агент пытается в первую очередь доставить письмо в ТУ с наименьшим порядковым номером в ГН,
		а затем по в ТУ по порядку возрастания. Переход к следующему по порядку ТУ в ГН осуществляется при невозможности доставить письмо в текущий ТУ.
		Если письмо не удалось доставить ни в один ТУ внутри ГН, то попытка повторяется в следующий запуск агента. Количество попыток ограничено
		настройками агента.
	-->
	
	<!-- Определение Коллектора по умолчанию.
		<node type="in" name="default collector"> 
			<resources>
				<resource type="collector" url="..."/>
				...
		URL для ресурса с типом collector может быть только локальным, в локальной ФС, т.е. начинается только с "file://"
	 -->
		<node type="in" name="default collector"> 
			<resources>
			<!-- Коллектор по умолчанию для всех сообщений, подлежащих маршрутизации -->
				<resource type="collector" url="file:///home/jboss-portal-2/server/default/data/ta/collector"/> 
			</resources>
			<agent name="router"/> 
		</node>

	<!-- Настройки входных транспортных узлов, откуда собирать почту.  
		Входные узлы определяются через конструкцию: <node type="in" name="..."> -->
		<node type="in" name="org1-in">
			<resources>
				<resource url="file:///opt/jboss-portal-2/server/default/data/ta/org-1/out"/>
			</resources>
			<agent name="fileMover"/>
		</node>
		<node type="in" name="org4-in">
			<resources>
				<resource url="imaps://username:password@imap.gmail.com:993/INBOX"/>
			</resources>
			<agent name="mailAgent"/>
		</node>

	<!-- Настройки выходных транспортных узлов, куда отправлять собранную в Коллекторе почту.  
		Входные узлы определяются через конструкцию: <node type="out" name="..."> -->

		<!-- ТУ с адресом назначения по умолчанию. Может не задаваться совсем или задаваться не более 1 раза. -->
		<node type="out" name="default-node">
			<!-- тут надо в uuid обязательно писать 'default' - тогда узел станет дефолтным -->
			<destination uuid="default"/>
			<resources>
				<resource type="document" url="file:///opt/jboss-portal-2/server/default/data/ta/default/in"/>
				<!-- folder for copy for all processed messages -->
				<resource type="copy" url="file:///opt/jboss-portal-2/server/default/data/ta/default//copy-all"/>
				<resource type="trash" url="file:///opt/jboss-portal-2/server/default/data/ta/default/trash"/>
			</resources>
			<agent name="fileMover"/>
		</node>

		<node type="out" name="org1-out"> 
			<destination uuid="40531344-2038-4fe1-b5fc-a052a6703a86"/>
			<destination uuid="40531344-2038-4fe1-b5fc-a052a6703a87"/>
			<resources>
				<resource type="document" url="file:///opt/jboss-portal-2/server/default/data/ta/org-1/in"/>
				<!-- Ресурс для отправки тикетов из коллектора -->
				<resource type="ticket" url="file:///opt/jboss-portal-2/server/default/data/ta/org-1/in/ticket"/>
			</resources>
			<agent name="fileMover"/>
		</node>
		<node type="out" name="org2-out">
			<destination uuid="40531344-2038-4fe1-b5fc-a052a6703a88"/>
			<resources>
				<resource type="document" url="file:///opt/jboss-portal-2/server/default/data/ta/org-2/in"/>
				<!-- Ресурс для копирования успешно отправленных сообщений любого типа -->
				<resource type="copy" url="file:///opt/jboss-portal-2/server/default/data/ta/copy-all"/>
				<!-- Ресурс для складирования неуспешно отправленных сообщений любого типа, а также невалидных -->
				<resource type="trash" url="file:///opt/jboss-portal-2/server/default/data/ta/trash"/>
			</resources>
			<agent name="fileMover"/>
		</node>
		<node type="out" name="org6-out">
			<destination uuid="40531344-2038-4fe1-b5fc-a052a6703a89"/>
			<resources>
				<resource type="document" url="mailto:user@orgname-6.su"/>
				<!-- Ресурс для копирования успешно отправленных сообщений любого типа -->
				<resource type="copy" url="file:///opt/jboss-portal-2/server/default/data/ta/copy-all"/>
				<!-- Ресурс для складирования неуспешно отправленных сообщений любого типа, а также невалидных -->
				<resource type="trash" url="file:///opt/jboss-portal-2/server/default/data/ta/trash"/>
			</resources>
			<agent name="mailAgent"/>
		</node>

<!-- Маршрут с тремя резервными путями. Начало. -->
		<node type="out" name="org-3" order="0">
			<destination uuid="40531344-2038-4fe1-b5fc-a052a6703a93"/>
			<resources>
				<resource type="document" url="file:///opt/jboss-portal-2/server/default/data/ta/org-3/in"/>
				<!-- folder for copy for all processed messages -->
				<resource type="copy" url="file:///opt/jboss-portal-2/server/default/data/ta/copy-all"/>
				<resource type="trash" url="file:///opt/jboss-portal-2/server/default/data/ta/org-3/trash"/>
			</resources>
			<agent name="fileMover"/>
		</node>
		<node type="out" name="org-3-reserve-1" order="1">
			<destination uuid="40531344-2038-4fe1-b5fc-a052a6703a93"/>
			<resources>
				<resource type="document" url="file:///opt/jboss-portal-2/server/default/data/ta/org-3-1/in"/>
				<!-- folder for copy for all processed messages -->
				<resource type="copy" url="file:///opt/jboss-portal-2/server/default/data/ta/copy-all"/>
				<resource type="trash" url="file:///opt/jboss-portal-2/server/default/data/ta/org-3-1/trash"/>
			</resources>
			<agent name="fileMover"/>
		</node>
		<node type="out" name="org3-reserve-2" order="2">
			<destination uuid="40531344-2038-4fe1-b5fc-a052a6703a93"/>
			<resources>
				<resource type="document" url="file:///opt/jboss-portal-2/server/default/data/ta/org-3-2/in"/>
				<!-- folder for copy for all processed messages -->
				<resource type="copy" url="file:///opt/jboss-portal-2/server/default/data/ta/copy-all"/>
				<resource type="trash" url="file:///opt/jboss-portal-2/server/default/data/ta/trash"/>
			</resources>
			<agent name="fileMover"/>
		</node>
<!-- Маршрут с тремя резервными путями. Конец. -->

	</nodes>
</route-table>