#
#   Licensed to the Apache Software Foundation (ASF) under one or more
#   contributor license agreements.  See the NOTICE file distributed with
#   this work for additional information regarding copyright ownership.
#   The ASF licenses this file to you under the Apache License, Version 2.0
#   (the "License"); you may not use this file except in compliance with
#   the License.  You may obtain a copy of the License at
#
#       http://www.apache.org/licenses/LICENSE-2.0
#
#   Unless required by applicable law or agreed to in writing, software
#   distributed under the License is distributed on an "AS IS" BASIS,
#   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#   See the License for the specific language governing permissions and
#   limitations under the License.
#

# -----------------------------------------------------------
# Конфигурационный файл штампа ЭЦП и регистрационных данных
# -----------------------------------------------------------

# ------------------------------------------------------------------
# 1. РЕГИСТРАЦИОННЫЙ ШТАМП
# ------------------------------------------------------------------
#------------------------------------------------
# 1.1 Основной штамп в шапке на первой странице
#------------------------------------------------

# Название шрифта
registration.stamp.font.name=DejaVuSerif.ttf

# Размер шрифта
registration.stamp.font.size=10

# Способ определения положения штампа
#	1 - координаты штампа соответствуют началу даты регистрации
# 	2 - координаты штампа соответствуют положению символа '№' в шапке бланка (_дата_№_номер_)
# 	Значение по умолчанию - 2
registration.stamp.placement=2

# Отступ даты регистрации от символа '№' по горизонтали влево (когда положение штампа определяется от символа '№'), в миллиметрах
registration.stamp.regdate.indent=4

# Отступ регистрационного номера от даты регистрации по горизонтали вправо, в миллиметрах
registration.stamp.regnum.indent=10

# -------------------------------------------------
# 1.2 Штамп в нижнем колонтитуле на каждой странице
# -------------------------------------------------
# Название шрифта
bottom.stamp.font.name=DejaVuSerif.ttf

# Размер шрифта
bottom.stamp.font.size=14

# Способ выравнивания штампа по горизонтали
# 	1 - по левому краю
#	2 - по правому краю
# 	Значение по умолчанию - 2
bottom.stamp.align=2

# Отступ регистрационного штампа по горизонтали от края страницы 
# (при выравнивании по левому краю - от левого, при выравнивании по правому - от правого), в миллиметрах
bottom.stamp.indent.x=20

# Отступ регистрационного штампа по вертикали от нижнего края страницы, в миллиметрах
bottom.stamp.indent.y=20

# -------------------------------------------------------------------
# 2. ШТАМП ЭЦП
# -------------------------------------------------------------------

# Шаблон отметки о создании электронного документа
signature.stamp.mark.template=dbmi/card/stamp/markTemplate.pdf

# Шаблон штампа ЭЦП (pdf форма)
signature.stamp.template=dbmi/card/stamp/stampTemplate.pdf

# Ширина штампа ЭЦП, в миллиметрах
signature.stamp.width=65

# Высота штампа ЭЦП, в миллиметрах
signature.stamp.height=22

# Отступ штампа ЭЦП влево от начала реквизита Подпись по горизонтали, в миллиметрах
signature.stamp.indent.x=6

# Отступ штампа ЭЦП вниз от начала реквизита Подпись по вертикали, в миллиметрах
signature.stamp.indent.y=6

# Названия и размер шрифтов, используемых для следующих полей штампа ЭЦП:

# Сертификат
signature.stamp.serial.field.font.name=DejaVuSerif.ttf
signature.stamp.serial.field.font.size=6

# Владелец
signature.stamp.owner.field.font.name=DejaVuSerif-Bold.ttf
signature.stamp.owner.field.font.size=6

# Действителен с
signature.stamp.notbefore.field.font.name=DejaVuSerif.ttf
signature.stamp.notbefore.field.font.size=6

# Действителен по
signature.stamp.notafter.field.font.name=DejaVuSerif.ttf
signature.stamp.notafter.field.font.size=6

# Отметка о создании ЭП
signature.mark.organisation.font.name=DejaVuSerif-Italic.ttf
signature.mark.organisation.field.font.size=7