#
#   Licensed to the Apache Software Foundation (ASF) under one or more
#   contributor license agreements.  See the NOTICE file distributed with
#   this work for additional information regarding copyright ownership.
#   The ASF licenses this file to you under the Apache License, Version 2.0
#   (the "License"); you may not use this file except in compliance with
#   the License.  You may obtain a copy of the License at
#
#       http://www.apache.org/licenses/LICENSE-2.0
#
#   Unless required by applicable law or agreed to in writing, software
#   distributed under the License is distributed on an "AS IS" BASIS,
#   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#   See the License for the specific language governing permissions and
#   limitations under the License.
#

# Адрес в поле "Отправитель". Если на smtp-сервере запрещено использование чужого адреса, адрес здесь должен совпадать с атрибутом "User" / "mail.smtp.user" в mail-service.xml
defaultFromAddress=jbossreferent@aplana.com
# Тема по умолчанию
defaultSubject=\u041F\u0438\u0441\u044C\u043C\u043E \u0410\u0434\u043C\u0438\u043D\u0438\u0441\u0442\u0440\u0430\u0442\u043E\u0440\u0430 \u0421\u0438\u0441\u0442\u0435\u043C\u044B
# Формат ссылки на карточку по умолчанию
defaultCardLinkPrefix=http://{0}:8080/portal/auth/portal/OFMPO-Portal/Card/CardPortletWindow?action=e&amp;windowstate=normal&amp;mode=view&amp;MI_EDIT_CARD=
# Имя отправителя
defaultFromName=\u0410\u0434\u043C\u0438\u043D\u0438\u0441\u0442\u0440\u0430\u0442\u043E\u0440 \u0421\u0438\u0441\u0442\u0435\u043C\u044B

