#
#   Licensed to the Apache Software Foundation (ASF) under one or more
#   contributor license agreements.  See the NOTICE file distributed with
#   this work for additional information regarding copyright ownership.
#   The ASF licenses this file to you under the Apache License, Version 2.0
#   (the "License"); you may not use this file except in compliance with
#   the License.  You may obtain a copy of the License at
#
#       http://www.apache.org/licenses/LICENSE-2.0
#
#   Unless required by applicable law or agreed to in writing, software
#   distributed under the License is distributed on an "AS IS" BASIS,
#   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#   See the License for the specific language governing permissions and
#   limitations under the License.
#

# Файл конфигурации взаимодействия с сервисом редактирования вложений (Ulteo)

# Полный путь ко временному каталогу в локальной файловой системе, 
# примонтированному к NFS каталогу, опубликованному сервером NFS
owriter.local.shared.folder=/mnt/nfsmount

# Полный путь ко временному каталогу с точки зрения сервиса
owriter.service.shared.folder=/opt/share/

# Базовый URL сервиса вида «https://{service-address}/ovd/»
owriter.service.base.url=https://172.16.125.107/ovd/

# Логин для доступа к административному API сервиса
owriter.service.login=admin

# Пароль для доступа к административному API сервиса
owriter.service.password=admin

# Наименование группы пользователей сервиса
owriter.service.users.group=br4j-users

# Наименование группы приложений сервиса
owriter.service.apps.group=br4j-apps
